.dashboard .activity .activity-item .activite-label::before{
    background-color: #fff;
}
.dashboard .activity .activity-item .activite-label{
    max-width:60%;
}
.dataTable-wrapper.no-footer .dataTable-container {
    overflow-x: scroll;
}